## Junk files
*.DS_Store

## Compiled files
*.so

## Compressed files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

## Cython-specific
*.pyc
*.c

## Unnecessary Data files
/Weather\ Data\ Skimmer/data/*.csv
/CFD\ analysis/data/*/*.csv
/CFD\ analysis/residuals/*.out
/CFD\ analysis/residual plots/*.png
